# === Python ===
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
.pytest_cache/
coverage.xml

# Translations
*.mo
*.pot

# === Django ===
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media/
staticfiles/

# Environment variables
.env
.env.*

# === Virtual environments ===
.venv/
venv/
ENV/
env/
env.bak/
venv.bak/

# === IDE & OS files ===
.idea/
.vscode/
*.sublime-project
*.sublime-workspace
.DS_Store
Thumbs.db

# === Docker ===
# Ignore local docker-compose override files
docker-compose.override.yml
# Ignore named volumes
data/

# === MyPy & Ruff ===
.mypy_cache/
.ruff_cache/

# === Other caches ===
__pypackages__/
.pyre/
.pytype/
