{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/creature_list.css' %}">
{% endblock %}

{% block content %}
<div class="header">
    <h1>{{ title }}</h1>
    <a href="{% url 'wiki:creature_create' %}" class="add-creature">Добавить существо</a>
</div>


<div class="creature-grid">
    {% for creature in creatures %}
    <div class="creature-card">
        <a href="{% url 'wiki:creature_detail' creature.slug %}">
            {% if creature.image %}
            <img src="{{ creature.image.url }}" alt="{{ creature.name }}" class="creature-img">
            {% endif %}

                <h2>{{ creature.name }}</h2>

            <p><strong>Категория: {{ creature.category }}</strong></p>
            <p class="dangerous-level"><strong>Опасность: </strong>{{ creature.dangerous_level }}</p>
            <p>{{ creature.description }}</p>
        </a>
    </div>
    {% empty %}
        <p>Нет существ в бестиарии.</p>
    {% endfor %}
</div>
{% endblock %}
