<header>
    <h2>Karniway</h2>

    <div class="authenticate-nav">
        <nav class="main-nav">
            <a href="/">Главная</a>
            <a href="#">Кампании</a>
            <a href="#">Магазин</a>
            <a href="#">Профиль</a>
        </nav>

        {% if user.is_authenticated %}
        <nav class="login-nav">
            <a href="{% url 'accounts:profile' %}">Профиль</a>
            <form method="post" action="{% url 'accounts:logout' %}">
                {% csrf_token %}
                <button type="submit">Выйти</button>
            </form>
        </nav>

        {% else %}
        <nav class="login-nav">
            <a href="{% url 'accounts:login' %}">Войти</a>
            <a href="{% url 'accounts:register' %}">Регистрация</a>
        </nav>
        {% endif %}
    </div>

</header>
